#demo {
    position: relative;
}

#demo::after {
    content: "";
    position: absolute;
    top: -10%;
    transform: translateY(-50%);
    right: 25%;
    width: 600px;
    height: 600px;
    background: url("../images/bdxio/post-it-black.png") no-repeat center / contain;
    pointer-events: none;
}

#website {
    position: relative;
}

#website::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25%;
    width: 300px;
    height: 300px;
    background: url("../images/bdxio/sheet-black.png") no-repeat center / contain;
    pointer-events: none;
}

.slide-number::before {
    content: "";
    position: fixed;
    right: -10px;
    bottom: -10px;
    width: 80px;
    height: 80px;
    background: transparent url("../images/bdxio/right-bottom-angle-purple.png") no-repeat center / contain;
    pointer-events: none;
}

