*.iml
.idea
target
.DS_Store
reveal.js
*.html
.asciidoctor
!index-docinfo-footer.html
js/highlight/
!js/highlight/.gitkeep
code/age.key
code/*.secrets.yaml
code/recipients/envs/*.yaml
!code/recipients/envs/.gitkeep
code/recipients/*.key
code/recipients/.sops.yaml

# generated image
images/01-problematique.svg
images/02-recapitulatif.svg

code/demo-magic.sh
code/secrets/*
!code/secrets/.gitkeep

highlight.js/
!links.html